{% extends "base_board.html" %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">		
	</head>
	<body>
		{% block title %}
			<h2> 이미지 업로드 </h2>
		{% endblock %}
		{% block content %}
			<form method="POST" action="image" name="imageform" enctype="multipart/form-data">
				{% csrf_token %}
				<table>
					<tr>
						<th> 제목 </th>
						<td>
							<input class="input" type="text" name="title" autofocus>
						</td>
					</tr>
					<tr>
						<th> 이미지 </th>
						<td>
							<input class="input" type="file" name="image" 
								accept="image/*">
						</td>
					</tr>
					<tr>
						<th colspan="2">
							<input class="inputbutton" type="submit" value="전송">
							<input class="inputbutton" type="reset" value="취소">
						</th>
					</tr>
				</table>
			</form>
		{% endblock %}
	</body>
</html>












