{% extends "base.html" %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">	
	</head>
	<body>
		{% block title %}
<!-- 비회원 접근불가 로그인필요 -->
<input type="hidden" name="memid" value="{{memid}}">
<input type="hidden" name="social" value="{{user.is_authenticated}}">

<script>
var memid = $("input[name='memid']").val();
var social = $("input[name='social']").val();
if((memid == "" || memid == "None") && social == "False"){
	alert("로그인이 필요합니다");
	location.href="/member/login";
}
</script>
		{% endblock %}
		{% block content %}
			<div class="hero hero-inner">
		    	<div class="container">
		      		<div class="row align-items-center">
		        		<div class="col-lg-6 mx-auto text-center">
		          			<div class="intro-wrap">
		            			<h1 class="mb-0">Q & A</h1><br><br>              
		          			</div>
		        		</div>
		      		</div>
		      		<table>
		         		<h6 class="text-white text-center">문의게시판 입니다</h6> 
		      		</table>
		    	</div>
  			</div>
  			<div class="container py-3">
  				<div class="row mb-2">
	  				<div class="col-6">
						<label>글번호</label>
						<input class="form-control" type="text" value="{{number}}" readonly>
					</div>
					<div class="col-6">
						<label>조회수</label>
						<input class="form-control" type="text" value="{{dto.readcount}}" readonly>
					</div>
  				</div>
				<div class="mb-2">
					<label>글제목</label>
					<input class="form-control" type="text" value="{{dto.subject}}" readonly>
				</div>
				<div class="mb-2">
					<label>글내용</label>
					<textarea class="form-control" rows="15" readonly>{{dto.content}}</textarea>
				</div>
				<div class="mb-2 py-4 text-right">
					{% if dto.id == memid %}
					<input class="btn btn-primary mr-1" type="button" value="수정" onclick="location='bmodifypro?num={{dto.num}}&pagenum={{pagenum}}'">
					<input class="btn btn-secondary mr-1" type="button" value="삭제" onclick="del('{{dto.num}}','{{pagenum}}')">							
					<input class="btn btn-secondary" type="button" value="목록" onclick="location='list?pagenum={{pagenum}}'">
					{% else %}							
					<input class="btn btn-secondary" type="button" value="목록" onclick="location='list?pagenum={{pagenum}}'">
					{% endif %}
				</div>
				
				<div>
					<div class="overflow-auto mb-4">
						<h4>댓글작성</h4>
						<form method="POST"  action="commentWrite" name="commentWrite">
				         	{% csrf_token %}
				         	<input type="hidden" name="nick" value="{{nickname}}" >
				         	<input type="hidden" name="boardNum" value="{{number}}">
				         	<input type="hidden" name="num" value="{{dto.num}}">
				         	<input type="hidden" name="pagenum" value="{{pagenum}}">
				         	<input type="hidden" name="number" value="{{number}}">
				        	<textarea class="form-control" name="comment" rows="5" cols="40"></textarea>
				        	<input type="submit" class="replyinsert btn btn-primary px-3 py-1 float-right my-2" value="댓글 입력">
				      	</form>
					</div>
			      	
			      	{% for dt in dtos %}
					<div class="bg-light border rounded mb-3 px-3 py-3">
						<!-- <div>No. {{dt.no}}</div> -->
						<div style="font-size:0.8em;">작성자. {{dt.nick}}</div>
						<div style="font-size:0.8em;" class="mb-2">작성일. {{dt.date|date:"Y-m-d"}}</div>
						<div style="font-size:1.4em;">{{dt.comment}}</div>
						<div class="text-right">
							{% if dt.nick == nickname %}
							<!-- <input  type="button"  value="수정" id="dt{{dt.no}}" class="replyMod" onclick=""> -->
							<button type="button" class="replyModBtn btn btn-primary py-1 px-3 mr-1" value="{{dt.no}}">수정</button>
							<input  type="button" value="삭제" class="replyDel btn btn-secondary py-1 px-3" onclick="replydel('{{dt.no}}','{{dto.num}}','{{pagenum}}','{{number}}')">
							{% endif %}
						</div>
					</div>
					
					<!-- 수정폼 -->
					<div class="replybox{{dt.no}}" style="display:none;overflow:auto;">
						<input type="hidden" name="no" class="no" value="{{dt.no}}">
						<input type="hidden" name="num" class="num" value="{{dto.num}}">
						<input type="hidden" name="pagenum" class="pagenum" value="{{pagenum}}">
						<input type="hidden" name="number" class="number" value="{{number}}">
						<textarea class="form-control comment mb-2" name="commentMod"></textarea>
						<input type="button" value="수정하기" class="replyMod replyModBtn2 float-right btn btn-primary py-1 px-3">
					</div>
					{% endfor %}
				</div>
  			</div>
			
		
		<script>
		//해당글 관련 스크립트
		//작성자 본인이면 삭제가능 여부 물어보기
		function del(num, pagenum){
			var conf = confirm("삭제하시겠습니까?");
			if(conf){
				location.href="bdelete?num="+num+"&pagenum="+pagenum;
			}else{
				return false;
			}
		}
		
		
		//댓글관련 스크립트
		$(".replyinsert").click(function(){
  			var conf = confirm("댓글을 등록하시겠습니까?");
  			if(conf){
  				$("form[name='commentWrite']").submit();
  			}else{
  				return false;
  			}
  		});
		
		
		function replydel(no, num, pagenum, number){
			var conf = confirm("삭제하시겠습니까?");
			if(conf){
				location.href="replyDel?no="+no+"&num="+num+"&pagenum="+pagenum+"&number="+number;
			}else{
				return false;
			}
		}
		
		/* $(".replyModBtn").click(function(){	
			
			$(this).parent().parent().siblings().slideDown();
			}); */
		
		$(".replyModBtn").click(function(){	
			var no = $(this).val();
			//alert(no);
			
			$(this).parent().parent().siblings(".replybox"+no).slideDown();
			}); 
	
			
		$(".replyModBtn2").click(function(){
			var conf = confirm("수정하시겠습니까?");
			if(conf){
				var no = $(this).siblings(".no").val();
				var num = $(this).siblings(".num").val();
				var comment = $(this).siblings(".comment").val();
				var pagenum = $(this).siblings(".pagenum").val();
				var number = $(this).siblings(".number").val();
				location.href="replyMod?no="+no+"&comment="+comment+"&num="+num+"&pagenum="+pagenum+"&number="+number;
			}else{
				return false;
			}
			}); 
		</script>
		
		{% endblock %}
		
		
		
	</body>
</html>

















