{% extends "base.html" %} 
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>
   {% block title %} {% endblock %} 
   
   {% block content %}
   <div class="hero hero-inner">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6 mx-auto text-center">
               <div class="intro-wrap">
                  <h1 class="mb-0">사용방법</h1>
                  <br> <br>
               </div>
            </div>
         </div>
         <table>
            <h6 class="text-white text-center">I.SEOUL.TRIP 가이드</h6>
         </table>
      </div>
   </div>

   <!-- 콘텐츠 영역 -->
   <br>
   <div class="container">
      <div id="top_banner" class="row">
         <div class="col-lg-6 mx-auto text-center">
            <p class="topbox_title" style="color: blue;">
            <h2 style="color: rgb(26, 55, 77);">
               I.SEOUL.TRIP <strong>사용방법</strong>
            </h2>
            </p>
            <p class="topbox_sub">
            <h5 style="color: rgb(0, 0, 0);">서울시의 정보를 확인하고 여행 계획을 세워보세요!!!</h5></p>
         </div> 
      </div><br><br>

      
   <ul class="nav nav-pills nav-justified">
     <li class="nav-item">
       <a class="nav-link active" data-toggle="tab" href="#a">인구밀집도</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#b">일정만들기</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#c">내 여행계획 확인 / 위시리스트</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#d">내 일정공유</a>
     </li>
   </ul>
   <div class="tab-content">
     <div class="tab-pane fade show active" id="a">
         <p style="margin-top: 60px;">
         <h4 style="text-align: center;"><span style="font-weight:bold;">인구밀집도</span> 정보를 통해, 서울시 주요지역의 성별 및 연령비율을 확인해보세요. </h4>
       </p><br>
       <p>
          <img src="{% static 'images/population_info1.png' %}" style="width: 1120px;">
       </p><br>
       <hr><br>
       <p>
          <img src="{% static 'images/population_info2.png' %}" style="width: 1120px;">
      </p>
      <br><br>
     </div>
     <div class="tab-pane fade" id="b">
      <p style="margin-top: 60px;">
         <h4 style="text-align: center;"><span style="font-weight:bold;">일정만들기</span> 이렇게 해보세요!</h4>
       </p><br>
        <p>
          <img src="{% static 'images/planwrite_info1.png' %}" style="width: 1120px;">
       </p><br>
       <hr><br>
       <p>
          <img src="{% static 'images/planwrite_info2.png' %}" style="width: 1120px;">
      </p>
      <hr><br>
       <p>
          <img src="{% static 'images/planwrite_info3.png' %}" style="width: 1120px;">
      </p>
      <hr><br>
       <p>
          <img src="{% static 'images/planwrite_info4.png' %}" style="width: 1120px;">
      </p>
      <br><br>
     </div>
     <div class="tab-pane fade" id="c">
      <p style="margin-top: 60px;">
         <h4 style="text-align: center;">마이페이지에 있는 <span style="font-weight:bold;">내 여행계획</span>을 확인해보세요.</h4>
       </p><br>
        <p>
          <img src="{% static 'images/mypage_info1.png' %}" style="width: 1120px;">
       </p><br>
       <hr><br>
       <p>
          <img src="{% static 'images/mypage_info2.png' %}" style="width: 1120px;">
      </p>
      <hr><br>
       <p>
          <img src="{% static 'images/mypage_info3.png' %}" style="width: 1120px;">
      </p>
      <br><br>
     </div>
     <div class="tab-pane fade" id="d">
        <p style="margin-top: 60px;">
         <h4 style="text-align: center;">다른사람들에게 <span style="font-weight:bold;">내 일정을 공유</span>하고 다른사람의 일정을 확인해보세요.</h4>
       </p><br>
        <p>
          <img src="{% static 'images/planshare_info1.png' %}" style="width: 1120px;">
       </p><br>
       <hr><br>
       <p>
          <img src="{% static 'images/planshare_info2.png' %}" style="width: 1120px;">
      </p>
      <hr><br>
       <p>
          <img src="{% static 'images/planshare_info3.png' %}" style="width: 1120px;">
      </p>
      <br><br>
     </div>

   </div>


</div>
</body>
{% endblock %}
</html>